$colorGrey: rgb(224, 224, 224);
$colorBlue: rgb(77, 110, 139);
$colorLightGrey: rgb(237, 239, 241);
$colorRed: rgb(239, 138, 134);

html,
body {
  background-color: $colorLightGrey;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  border-bottom: 2px $colorLightGrey solid;
  margin-bottom: 10px;
}

.logo img {
  width: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 5px;
}

.left {
  float: left;
  width: 6%;
  height: 100%;
  background-color: $colorGrey;
}

.left img {
  margin-top: 10px;
  width: 30px;
}

.bell {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 1px solid black;
  padding: 1px 1px 1px 1px;
}
.slow-motion {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 1px solid black;
  padding: 1px 1px 1px 1px;
}
.cog {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 1px solid black;
  padding: 1px 1px 1px 1px;
  background-color: white;
  color: $colorBlue;
}

.message {
  display: flex;
  float: right;
  height: 100%;
  background-color: $colorGrey;
}

.message img {
  margin-bottom: 920px;
  width: 30px;
  border: 1px $colorLightGrey solid;
  padding: 5px 5px 5px 5px;
}

.message p {
  background-color: $colorRed;
  color: white;
  border-radius: 60%;
  position: absolute;
  margin-left: 30px;
  margin-top: 1px;
}

.window {
  display: flex;
  flex-direction: row;
  border-bottom: 30px solid $colorBlue;
  margin-left: 80px;
  //margin-top: 5px;
}
.gear {
  background-color: $colorBlue;
  margin: 10px 10px 10px 10px;
  padding: 5px 10px 5px 10px;
  width: 30px;
  border-radius: 5px;
}

.pestana h4 {
  color: $colorBlue;
}

.central {
  background-color: $colorLightGrey;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 120px;
  margin-right: 600px;
  margin-bottom: 700px;
  width: 50%;
  background-color: white;
  //border:5px solid black
}

.box {
  margin-right: 15px;
}

.box h4 {
  background-color: $colorBlue;
  color: white;
  justify-content: center;
  padding: 20px 20px 20px 20px;
}

.box p {
  background-color: $colorLightGrey;
  color: grey;
  justify-content: center;
  padding: 20px 20px;
}
