$colorGrey: rgb(224, 224, 224);
$colorBlue: rgb(77, 110, 139);
$colorLightGrey: rgb(237, 239, 241);

@mixin imgsize{
  width: 30px;
}

.logo {
  border-bottom: 5px;
}

.logo img {
  width: 200px;
}

.left img {
  display: flex;
  flex-flow: column;
  background-color: $colorGrey;
  width: 30px;
}


#message img{
  width: 30px;
  display: flex;
  justify-content: end;
}

.pestana{
  display: flex;
  flex-direction: row;
}
.gear {
  background-color: $colorBlue;
  margin: 10px 10px 10px 10px;
  padding: 5px 10px 5px 10px;
  width: 30px;
  border-radius: 5px;
}

.pestana h4{
  color:$colorBlue
}


.boxes {
  display: flex;
  justify-content: flex-start;
  margin-right: 800px;
  
}

.box{
  display:flexbox;
  margin: 5px 5px 5px 5px;
}

.box h4 {
  background-color: $colorBlue;
  color: white;
  justify-content: center;
}

.box p {
  background-color: $colorLightGrey;
  color: grey;
}
